node_modules/*

!node_modules/bootstrap
node_modules/bootstrap/*
!node_modules/bootstrap/dist
node_modules/bootstrap/dist/*
!node_modules/bootstrap/dist/css
node_modules/bootstrap/dist/css/*
!node_modules/bootstrap/dist/css/bootstrap.min.css


!node_modules/leaflet
node_modules/leaflet/*
!node_modules/leaflet/dist
node_modules/leaflet/dist/*
!node_modules/leaflet/dist/leaflet.css
!node_modules/leaflet/dist/leaflet.js

!node_modules/bootstrap-icons
node_modules/bootstrap-icons/*
!node_modules/bootstrap-icons/font
node_modules/bootstrap-icons/font/*
!node_modules/bootstrap-icons/font/bootstrap-icons.min.css
