.transition {
    transition-duration: .25s;
}

#bgimage {
    filter: blur(10px) brightness(70%); 
    transform: scale(1.05);
}

#map-visible:checked ~ #image-frame {
    height: calc(100vh - 200px);
}

#image-frame {
    height: 100%;
    transition-property: height;
}

#map-container {
    height: 200px;
    top: 100vh;
    transition-property: top, height;
}

label[for="fullscreen-map"] > i::before {
  content: "\f14d";
}

#fullscreen-map:checked ~ div label[for="fullscreen-map"] > i::before {
  content: "\f659";
}

#fullscreen-map:checked ~ #map-container {
  top: 0 !important;
  height: 100vh;
}

#map-visible:checked ~ #map-container {
    top: calc(100vh - 200px);
}

#map-visible:checked ~ div #expand-map {
    display: none;
}

#map-visible:not(:checked) ~ div #collapse-map {
    display: none;
}

.control-bg {
    background-color: rgba(0, 0, 0, .65) !important;
}

.text-shadow {
    text-shadow: 0px 0px 9px black;
}

#entry-text {
  text-align: justify;
  hyphens: auto;
  height: 0;
  overflow: auto;
  transition-property: height;
}

#read-more:checked ~ div #entry-text {
  height: 6em;
}

#read-more:not(:checked) ~ div #caption-title {
  display: block;
}

#caption-and-controls {
  display: flex;
  flex-direction: column;
}

#caption-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 20em;
  padding: 0.5rem;
}

#read-more:checked ~ div #caption-text {
  width: 700px;
  max-width: 700px;
}

@media (max-width: 768px) {
  #read-more:checked ~ div #caption-text {
    position: relative;
    left: auto;
    transform: none;
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  #read-more:checked ~ div #caption-text > div {
    border-radius: 0 !important;
  }

  #read-more:checked ~ #privacy-box {
    padding-bottom: calc(8em + 0.5rem);
  }

  #map-visible:checked ~ #privacy-box {
    padding-bottom: 0.5rem;
  }
}

/* TODO (optional) transition width&position */
  
#read-more-less {
  display:none;
}

#read-more:checked ~ div #read-more-less {
  display: inline;
}

#read-more-more {
  display: inline;
}

#read-more:checked ~ div #read-more-more {
  display: none;
}

#read-more-chevron {
  transition-property: transform;
}

#read-more:checked ~ div #read-more-chevron {
  transform: rotate(180deg);
}

#privacy-box {
  padding: 0.5rem;
}

.z-2000 {
  z-index: 2000;
}
