<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          
          <li>
            <span class="icon">{% include icon-fb.svg %}</span><span class="username">{{ site.facebook_username }}</span></a>
          </li>
          
          <li>
            <span class="icon">WS</span><span class="username">{{ site.warmshowers_username }}</span>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <h3>Stay Updated</h3>
        Submit your mail address here in order to get notified when there is a new blog post.
        <form action="https://getsimpleform.com/messages?form_api_token=ab263004f9f523dd796b4fcc2e48d542" method="post">
          <input type='hidden' name='redirect_to' value='{{ site.url }}/thank-you.html' />
          <input type='text' name='mail-address' />
          <input type='submit' value='Subscribe' />
        </form><br />
        
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>
    </div>

  </div>

</footer>
