---
layout: default
---

<div class="home">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  
  {% include post-map.html %}

  <!--<h1 class="page-heading">Posts</h1>-->
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}"><img src="/images/preview/{{ post.preview }}" alt="{{ post.title | escape }}" style="margin-right:1ex;" /></a>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <div style="display:inline-block;vertical-align:top;">
          <span class="post-meta">{{ post.date | date: date_format }}: {{ post.location | default: "" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
