---
layout: default
---
<link rel="stylesheet" href="/assets/lightbox/css/lightbox.min.css">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      : {{ page.location }}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
  
  <script src="/assets/lightbox/js/lightbox.min.js"></script>
  <script>
      lightbox.option({
          fadeDuration: 0,
          resizeDuration: 50,
          imageFadeDuration: 50
      });
      
      $("img").each(function() {
        var src = $(this).attr("src");
        var dirname = src.match(/.*\//);
        
        if(dirname != "/images/") {
          return;
        }
        
        var basename = src.replace(/.*\//, "");
        
        $(this).after('<br />' + this.alt);
        $(this).wrap('<a href="' + dirname + "1080/" + basename + '" data-lightbox="slideshow" data-title="' + this.alt + '" />');
      });
  </script>
</article>
